<!doctype html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>UDP server</title>
</head>

<body>
<h1>Página principal del servidor de UDF (User Defined Functions) v.2.0.0</h1>
<p>Lista de las funciones existentes al 06-octubre-2023.</p>
<p></p>
<p>- /api/v1/udf/calificacionGAF?precio=<i>precio</i>&titulos=<i>titulos</i></p>
<p>- /api/v1/udf/montoLimpio?precio=<i>precio</i>&titulos=<i>titulos</i></p>
<p>- /api/v1/udf/montoLimpioSucio?precio=<i>precio</i>&titulos=<i>titulos</i></i>&isr=<i>isr</i></p>
</body>
</html>
